.morningCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.morningTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  padding: 20px 6px;
  height: 50px;
  width: 150px;
  background-color: #fbfbfb;
  padding: 7px;
  border-radius: 4px;
}

.morningTodo:hover {
  background-color: #fdf7e0;
}

.morningInput {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(82, 82, 82);
  font-family: "Zen Kurenaido", serif;
  font-size: 18px;
  text-align: center;
  padding: 20px 6px;
  height: 40px;
  width: 150px;
  background-color: #ffcd29;
  padding: 5px;
  border-radius: 4px;
}

.addButton {
  background-color: aliceblue;
}

.arrowDiv {
  display: flex;
  align-items: center;
}
