p {
  margin: 6px auto;
  padding: 0;
}

.dailyTasks {
  display: flex;
  flex-direction: column;

  width: 60%;
  height: 80%;
  color: rgb(81, 81, 81);
  text-align: left;
  padding: 15px;
  background-color: antiquewhite;
  gap: 8px;
  border-radius: 4px;
}

.completeTask,
.incompleteTask {
  display: flex;
  text-align: center;
  margin-left: 6px;
}

.completeTask:hover,
.incompleteTask:hover {
  font-weight: 600;
}

.taskTitle {
  margin-left: 6px;
  font-size: 18px;
}

.completeTask {
  text-decoration: line-through;
}
