.eveningCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.eveningTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  height: 50px;
  width: 150px;
  background-color: #fbfbfb;
  padding: 7px;
  border-radius: 4px;
}

.eveningTodo:hover {
  background-color: #f8f3ff;
}

.arrowDiv {
  display: flex;
  align-items: center;
}
