.eveningCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.eveningTodo {
  display: flex;

  align-items: center;
  justify-content: center;
  color: rgb(61, 60, 60);
  font-size: 18px;
  height: 50px;
  width: 150px;
  background-color: #e4ccff;
  padding: 5px;
  border-radius: 4px;
}
