p {
  margin: 6px auto;
  padding: 0;
  font-size: 22px;
}

img {
  height: 20px;
}

.dailyTasks {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 15px;
  background-color: rgb(246, 246, 246);
  gap: 8px;
  border-radius: 4px;
}

.completeTask,
.incompleteTask {
  display: flex;
  text-align: flex-start;
  margin-left: 6px;
  flex-wrap: nowrap;
}

.completeTask:hover,
.incompleteTask:hover {
  font-weight: bold;
  cursor: default;
}

.taskTitle {
  display: flex;
  text-overflow: ellipsis;
  margin-left: 6px;
  font-size: 18px;
}

.completeTask {
  text-decoration: line-through;
}

.checkButtonDiv {
  display: flex;
  align-items: center;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: rgb(246, 246, 246);
  margin: 12px 12px 10px 12px;
  /* border: none; */
  padding: 0;
}

/* .addButton:hover {
} */

/* .addButton:active {
  visibility: hidden;
} */

.taskButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteCompletedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 26px;
  color: black;
  background-color: rgb(246, 246, 246);
  border: none;
  font-size: 15px;
}

.deleteCompletedButton:active {
  visibility: hidden;
}
